body {
	/* Background Color */
	background-color: #e9fbff;

	/* Font Color and Style*/
	color: #333;
	font: 12px/1.4em Arial,sans-serif;
}

/*
 This is used on the div which encompass' eveything on website.
 * Put every content no website inside a rectangular box
 
#wrap {
   margin: 20px auto;        
   background: #50f96c;
   padding: 10px;
   width: 90vw;
}*/

/* The header before any scrolling occurs */
#header {
   background-color: #55ea25;
   color: #ea25d8;
}

/* Used for the title of the webpage */
#logo {
   font-size: 30px;  
   line-height: 40px;    
   padding: 5px;
}

/* The height of the menu bar when scrolling occurs */
#navWrap {
   height: 30px;
}

/* The Color of the menu bar when scrolling */
#nav {
   padding: 5px;
   background: #1f2bbf;    
}

/* Bring all menu items to right most side of bar */
#nav ul {
   margin: 0;
   padding: 0;    
}

/* Background boxes for every element in menu*/
#nav li {
   float: left;
   padding: 3px 8px;
   background-color: #FFF;
   margin: 0 10px 0 0;
   color: #F00;
   list-style-type: none;
}