@import url(http://fonts.googleapis.com/css?family=Raleway);

body {
	/* Background Color */
	background-color: #e9fbff;
	/* Font Color and Style*/
	color: #333;
	font: 12px/1.4em Arial,sans-serif;
}

/*
 This is used on the div which encompass' eveything on website.
 * Put every content no website inside a rectangular box
 
#wrap {
   margin: 20px auto;        
   background: #50f96c;
   padding: 10px;
   width: 90vw;
}*/

/* The header before any scrolling occurs */

#header {
   background-color: #eeeeee;
   color: #ea25d8;
   height: 100vh;
   /* Following elements fix the background pic and give the overlay scrolling effect */
   background-image: url("../images/cartoonSkyline.jpg");
   /*background-image: url("../images/titleSeason.jpg");*/
   min-height: 500px;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

/* Used for the title of the webpage */
#logo {
   background-color: #eeeeee;
   font-size: 30px;  
   line-height: 40px;    
   padding: 5px;

}

/* Fancy art name used at the top of the website */
#nameImage
{
  position: relative;
  top:15vh;
}

/* Mainly used for the menu bar and it's positioning at the top of the page */
.navigationMenu 
{
  /* z-index to display on top of timeline */
  z-index: 1000;

  position: relative;
  top:45vh;
  margin-top: 5px;
  padding: 24px;
  text-align: center;
  font-family: Raleway;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  background: #3fa46a;
}

/* Used for the animation effects of scrolling over Menu Items */
.link-1 {
  transition: 0.3s ease;
  background: #3fa46a;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  border-top: 0px solid #3fa46a;
  border-bottom: 0px solid #3fa46a;
  padding: 20px 0;
  margin: 0 20px;
  outline:none;
}
.link-1:hover {
  border-top: 3px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  padding: 6px 0; 
}


/* Used to format timeline elements */
/*.timelineEvent*/
/*{*/
  /*background-image: url("../images/cartoonMountain.jpg");*/
  /*position: absolute;*/
/*}*/
/*
.animatedTimeline
{
  height: 60vh;
  background-image: url("../images/cartoonMountain.jpg");
}

.animatedTimeline .timelineEvent
{
  width:25vw;
 
}

.animatedTimeline .TimelineEventDescription
{
   text-align: justify;
}

.animatedTimeline .TimelineEventTitle
{
   text-align: center;
}

.animatedTimeline .TimelineEventDate
{
   text-align: center;
}

.animatedTimeline nav{
  bottom: 0px;
  left: 0px;
  text-align: center;
  width: inherit;
}
*/

/* CENTER TITLE FOR EVERY IMAGE ON EACH PAGE */

#centerSubTitles
{
  position: relative;
  top:15vh;
} 

/*  ================================ BLOG ELEMENTS ================================  */
.blogTime
{
   /* Following elements fix the background pic and give the overlay scrolling effect */
   background-image: url("../images/springSeason.png");
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
div.blogText  
{

  color:    #00008B;
  /*color: #424242;*/
        font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
 letter-spacing:0.1em;
 text-align:center;
 text-transform: lowercase;
 line-height: 145%;
 font-size: 14pt;
 font-variant: small-caps;
}

/*  ================================ TIMELINE ELEMENTS ================================  */
.animatedTimeline
{
   /* Following elements fix the background pic and give the overlay scrolling effect */
   background-image: url("../images/summerSeason.png");
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

/* ================================  HOBBIES ELEMENTS ================================  */
.hobbiesTime
{
   height: 100vh;
   /* Following elements fix the background pic and give the overlay scrolling effect */
   background-image: url("../images/fallSeason.png");
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

/*  ================================ SPORTS ELEMENTS ================================  */
.sportsTime
{
   height: 100vh;
   /* Following elements fix the background pic and give the overlay scrolling effect */
   background-image: url("../images/winterSeason.png");
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

/*  ================================ WORK ELEMENTS ================================ */
.workTime
{
   height: 100vh;
   /* Following elements fix the background pic and give the overlay scrolling effect */
   background-image: url("../images/springSeason2.png");
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

/*  ================================ GITHUB ELEMENTS ================================ */
.githubTime
{
   height: 100vh;
   /* Following elements fix the background pic and give the overlay scrolling effect */
   background-image: url("../images/summerSeason2.png");
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

/* ================================ CONNECT ELEMENTS ================================ */
.connectTime
{
   height: 100vh;
   /* Following elements fix the background pic and give the overlay scrolling effect */
   background-image: url("../images/fallSeason2.png");
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
.connectIcons
{
  height: 10vh;
}

div.connectDesc p
{
  position: relative;
  color:brown;
  top:25vh;
  font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;
  font-weight: normal;
  font-size: 1.75em;
  letter-spacing: .2em;
  line-height: 1.1em;
  margin:0px;
  text-align: center;
  text-transform: uppercase;
}

/* Get Rid of Bullet Points Before Each Element*/
ul
{
    list-style-type: none;
}

/* Get all Logos to appear in a straight line*/
ul.connectElements li
{
  width: auto;
  float: left;
  margin: 10px 30px;

  position: relative;
  top:45vh;
}

/* ================================  GET IN TOUCH ELEMENTS ================================  */

/* Fancy art name In Get In Touch Section */
.mailbox
{
   height: 100vh;
   /* Following elements fix the background pic and give the overlay scrolling effect */
   background-image: url("../images/winterSeason2.png");
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}


/* Positioning of the table of First Name, Last Name, etc*/
#getInTouchTable
{   width:300px;
    height:300px;
    /* background-color:#d9d9d9; */
    position:relative;
    margin-left:-19vw; /* half of width */
    margin-top:20vh;  /* half of height */
    top:60%;
    left:50%;
}

/* Make Elements in Get In Touch transparent to background image. Lighter Transparency*/
input[type="text"]
{
    background: transparent;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";       /* IE 8 */
    filter: alpha(opacity=50);  /* IE 5-7 */
    -moz-opacity: 0.5;          /* Netscape */
    -khtml-opacity: 0.5;        /* Safari 1.x */
    opacity: 0.5;               /* Good browsers */
}

/* Make TextArea in Get In Touch transparent to background image. Lighter Transparency*/
textarea
{
    background: transparent;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";       /* IE 8 */
    filter: alpha(opacity=50);  /* IE 5-7 */
    -moz-opacity: 0.5;          /* Netscape */
    -khtml-opacity: 0.5;        /* Safari 1.x */
    opacity: 0.5;               /* Good browsers */

}

div.mailbox label
{
  color: blue;
}

